html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  color: #d3e5f3;
  font-size: 50px;
  text-align: center;
}
.parent {
  font-size: 30px;
  display: flex;
  width: 80vw;
}

.child {
  border: 1px solid red;
}
