html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #c0c7cd;
  background-size: 1920px 968px;
  text-align: center;
}

h1 {
  color: rgb(124, 58, 20);
  background-color: #f5f5dc;
  font-size: 50px;
  text-align: center;
  margin-top: 50px;
}

h3 {
  background: #627ad2bb;
  text-align: center;
  width: 300px;
  margin: 0 auto;
}
.parent {
  font-size: 30px;
  display: flex;
  width: 95vw;
  margin: 0 auto;
  margin-top: 100px;
  justify-content: space-around;
  flex-wrap: wrap;
}

.characters {
  background: rgba(255, 255, 255, 0);
  border: 10px solid #6da9aa;
  width: 32%;
  height: 500px;
  color: #00ffc8;
  font-weight: bold;
}

.images {
  margin: 0 auto;
  margin-top: 100px;
  width: 500px;
  text-align: center;
}
