html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.178),
      rgba(255, 255, 255, 0.178)
    ),
    url(./images/ina.jpg);
  background-size: 1920px 968px;
  background-repeat: no-repeat;
  text-align: center;
}

h1 {
  color: #d3e5f3;
  font-size: 50px;
  text-align: center;
  margin-top: 50px;
}

h3 {
  background: #627ad2bb;
  text-align: center;
  width: 300px;
  margin: 0 auto;
}
.parent {
  font-size: 30px;
  display: flex;
  width: 95vw;
  margin: 0 auto;
  margin-top: 100px;
  justify-content: space-around;
}

.characters {
  background: rgba(255, 255, 255, 0);
  border: 1px solid #93dbdc;
  width: 30%;
  height: 500px;
  color: #18e3e1;
}

.images {
  margin: 0 auto;
  margin-top: 100px;
  width: 500px;
  text-align: center;
}
